<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}">
        <h3 class="title">HEALTH CONNECT</h3><div style="padding-right: 30%;"></div>
        <a class="navi">Home</a><div style="padding-left: 3%;"></div><a class="navi" href="Find Doctors">Find Doctors</a><div style="padding-left: 3%;"></div><a class="navi" href="Upload data">Upload data</a><div style="padding-left: 3%;"></div><a class="navi" href="Share data">Share data</a><div style="padding-left: 3%;"></div><a class="navi" style="background-color: #05386bc9; color: #ffff;" href="#about">About</a>
    </header>
    <div class="lable">
        <div  class="lable_container">
            <h1>Admin Page</h1>
            <form class="input_container" action="/adminPage">
                <input type="text" name="doc_name" id="txt_docname">
                <select name="doc_cat" id="cmb_category">
                    <option value="cat1">General Doctor</option>
                </select>
                <select name="doc_dict" id="cmb_district">
                    <option value="dict1">Tirunelveli</option>
                </select>
                <input type="text" name="doc_city" id="txt_city">
                <input type="text" name="doc_addr" id="txt_address">
                <input type="text" name="doc_hos" id="txt_hospital">
                <input type="number" name="doc_num" id="txt_phone">
                <input type="time" name="doc_time_in" id="time_IN">
                <input type="time" name="doc_time_out" id="time_OUT">
            </form>
        </div> 
    <HR>
    <h2></h2>
</body>
</html>