<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Json</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container1">
        {% for doctor in doctor_details %}
        <div class="doctor-card">
            <h3>Name: {{ doctor[1]}}</h3>
            <p>Phone: {{ doctor[9] }}</p>
            <p>Address: {{ doctor[7] }}</p><br>
            <iframe src="{{doctor[12]}}" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        {% endfor %}
    </div>
</body>
</html>