<HTML>
	<HEAD>
		<TITLE>HEALTH CONNECT</TITLE>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

	</HEAD>
	<BODY>
		<header>
			<img src="logo.png">
			<h3 class="title">HEALTH CONNECT</h3><div style="padding-right: 30%;"></div>
			<a class="navi" href="Home">Home</a><div style="padding-left: 3%;"></div><a class="navi" href="Find Doctors">Find Doctors</a><div style="padding-left: 3%;"></div><a class="navi" href="Upload data">Upload data</a><div style="padding-left: 3%;"></div><a class="navi" href="Share data">Share data</a><div style="padding-left: 3%;"></div><a class="navi" href="#about">About</a>
		</header>
		<div class="lable">
			<div  class="lable_container">
				<h1>Find Hospital, Labs and Doctors near you</h1>
				Here you can find top doctors, hospitals and diagnostic centers in your area
				<h2>Select the Body part to suggest the Hospitals</h2>
			</div>
		<!--	<img src="Assets/18.png">
			<img src="Assets/17.png">
			<img src="Assets/16.png"><br>
			<img src="Assets/15.png">
			<img src="Assets/14.png">
			<img src="Assets/13.png"> -->
		</div>
	</BODY>
</HTML>