<HTML>
	<HEAD>
		<TITLE>HEALTH CONNECT</TITLE>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

	</HEAD>
	<BODY>
		<header>
			<img src="logo.png">
			<h3 class="title">HEALTH CONNECT</h3><div style="padding-right: 30%;"></div>
			<a class="navi" href="Home">Home</a><div style="padding-left: 3%;"></div><a class="navi" href="Find Doctors">Find Doctors</a><div style="padding-left: 3%;"></div><a class="navi" href="Upload data">Upload data</a><div style="padding-left: 3%;"></div><a class="navi" href="Share data">Share data</a><div style="padding-left: 3%;"></div><a class="navi" href="#about">About</a>
		</header>
		
	</BODY>
</HTML>