body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('headerimage.jpg');
    background-size: cover;
    color: #05386b;
    padding-top: 0%;
}
img{
    width: 3.5%;
    border-radius: 50%;
    border-color: #05386b;
    padding:1%;
}
header{
    display: flex;
    align-items: center;
}
.navi{
    text-decoration: none;
    padding-right: 12px ;
    padding-left: 12px;
    padding-top: 4px;
    padding-bottom: 5px;
    font-size: 100%;
    font-weight: 500;
    text-align: center;
    color: #f8f8f8;
    border-style: solid;
    border-radius: 16px;
    background-color: #a1c8d4;
    border-color: rgba(26, 110, 150, 0.76);
}
.title{
    border-width: 12cm;
    border-color: #05386b;
   
}
.navi:hover{
 
    background-color:  #2789a7;
    color: #ffff;
}
.navi:active{
    background-color: #edf5e1;
}